<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Botón para abrir el menú -->
    </ion-buttons>
    <ion-title>Clanes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="clanes-container">
    <!-- Card Clan Aburame -->
    <div class="clan-card" (click)="openClanModal('Aburame')">
      <img src="assets/clanes/naruto/aburame_symbol.png" alt="Clan Aburame">
      <h3>Clan Aburame</h3>
    </div>

    <!-- Card Clan Uchiha -->
    <div class="clan-card" (click)="openClanModal('Uchiha')">
      <img src="assets/clanes/naruto/ushuha_simbolo.png" alt="Clan Uchiha">
      <h3>Clan Uchiha</h3>
    </div>

    <!-- Card Clan Senju -->
    <div class="clan-card" (click)="openClanModal('Senju')">
      <img src="assets/clanes/naruto/senju/senju_symbol.jpg" alt="Clan Senju">
      <h3>Clan Senju</h3>
    </div>

    <!-- Card Clan Uzumaki -->
    <div class="clan-card" (click)="openClanModal('Uzumaki')">
      <img src="assets/clanes/naruto/uzumaki_symbol.png" alt="Clan Uzumaki">
      <h3>Clan Uzumaki</h3>
    </div>

    <!-- Card Clan Hyuga -->
    <div class="clan-card" (click)="openClanModal('Hyuga')">
      <img src="assets/clanes/naruto/hyuga/hyuga.png" alt="Clan Hyuga">
      <h3>Clan Hyuga</h3>
    </div>
  </div>
  
</ion-content>
