.clanes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  padding: 1rem;
  justify-items: center;
}

.clan-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 100%;
  max-width: 200px;
}

.clan-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.clan-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 2px solid #ddd;
}

.clan-card h3 {
  font-size: 1rem;
  color: #333;
  margin: 0.5rem 0;
}

.footer {
  padding: 20px;
  color: rgb(10, 10, 10);
  text-align: center;
  font-size: 14px;
}

.footer a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}