<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Botón para abrir el menú -->
    </ion-buttons>
    <ion-title>Characters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="characters-container">
    <div class="character-card" *ngFor="let character of characters" (click)="openModal(character)">
      <img [src]="character.image || 'assets/characters/naruto.jpg'" alt="Imagen del personaje">
      <h3>{{ character.name }}</h3>
      <p>Clan: {{ character.clan || 'Desconocido' }}</p>
      <p>Estado: <span [class.dead]="character.status === 'Dead'">{{ character.status }}</span></p>
    </div>

    <div class="character-card" *ngFor="let character of characters" (click)="openModal(character)">
      <img [src]="character.image || 'assets/characters/naruto.jpg'" alt="Imagen del personaje">
      <h3>{{ character.name }}</h3>
      <p>Clan: {{ character.clan || 'Desconocido' }}</p>
      <p>Estado: <span [class.dead]="character.status === 'Dead'">{{ character.status }}</span></p>
    </div>

    <div class="character-card" *ngFor="let character of characters" (click)="openModal(character)">
      <img [src]="character.image || 'assets/characters/naruto.jpg'" alt="Imagen del personaje">
      <h3>{{ character.name }}</h3>
      <p>Clan: {{ character.clan || 'Desconocido' }}</p>
      <p>Estado: <span [class.dead]="character.status === 'Dead'">{{ character.status }}</span></p>
    </div>

    <div class="character-card" *ngFor="let character of characters" (click)="openModal(character)">
      <img [src]="character.image || 'assets/characters/naruto.jpg'" alt="Imagen del personaje">
      <h3>{{ character.name }}</h3>
      <p>Clan: {{ character.clan || 'Desconocido' }}</p>
      <p>Estado: <span [class.dead]="character.status === 'Dead'">{{ character.status }}</span></p>
    </div>
  </div>

<ion-footer>
  <div class="footer">
    <p>&copy; 2024 Naruto API. All rights reserved.</p>
    <p>Powered by <a href="https://ionicframework.com/" target="_blank">Ionic</a></p>
  </div>
</ion-footer>
