<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Village</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="villages-container">
    <div *ngFor="let village of villages" (click)="openModal(village)">
      <ion-card>
        <img [src]="village.symbol" alt="{{ village.name }}">
        <ion-card-header>
          <ion-card-title>{{ village.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Líder: {{ village.leader }}</p>
          <div class="clan-symbols">
            <img *ngFor="let character of village.characters" [src]="character.image" alt="{{ character.name }}">
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
