<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Botón para abrir el menú -->
    </ion-buttons>
    <ion-title>Akatsuki</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="members-container">
    <div class="member-card" *ngFor="let member of akatsukiMembers" (click)="openModal(member)">
      <img [src]="member.image" alt="{{ member.name }}">
      <h3>{{ member.name }}</h3>
      <p>{{ member.clan }}</p>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="footer">
    <p>&copy; 2024 Naruto API. All rights reserved.</p>
    <p>Powered by <a href="https://ionicframework.com/" target="_blank">Ionic</a></p>
  </div>
</ion-footer>