<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Botón para abrir el menú -->
    </ion-buttons>
    <ion-title>Tealed Beats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let bestia of bestiasList">
        <ion-card (click)="openModal(bestia)">
          <img [src]="bestia.image" alt="{{ bestia.name }}">
          <ion-card-header>
            <ion-card-title>{{ bestia.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ bestia.description }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <div class="footer">
    <p>&copy; 2024 Naruto API. All rights reserved.</p>
    <p>Powered by <a href="https://ionicframework.com/" target="_blank">Ionic</a></p>
  </div>
</ion-footer>