header{
    background: url(/assets/img/background2.gif);
}

h1{
    font-size: 50px;
    text-align: center;
    box-shadow: 45px;
    background-color: rgb(255, 123, 0);
    font-family:'Segoe UI';
    padding: 15px;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }
  